{% extends '@MjmlMailThemes/modern_mjml/components/layout.mjml.twig' %}

{% block title %}{{ 'Order changed'|trans({}, 'Emails.Body', locale) }}{% endblock %}

{% block content %}
<mj-section padding="0 25px">
  <mj-column padding="0">

    <mj-raw>
      <!-- TITLE BEGINING -->
    </mj-raw>
    <mj-text padding-top="0" padding-bottom="20px" font-weight="600" font-size="20px">
      {{ 'Hi {firstname} {lastname},'|trans({}, 'Emails.Body', locale) }}
    </mj-text>
    <mj-raw>
      <!-- TITLE ENDING -->
    </mj-raw>

  </mj-column>
</mj-section>

<mj-raw>
  <!-- BORDER BEGINING -->
</mj-raw>
<mj-section text-align="left" padding="0 50px 40px">
  <mj-column width="25px">
    <mj-divider width="25px" css-class="left" padding-top="0" padding-left="0" padding-right="0" border-width="3px" border-color="#505050"  border-style="solid"></mj-divider>

  </mj-column>
</mj-section>
<mj-raw>
  <!-- BORDER ENDING -->
</mj-raw>

<mj-raw>
  <!-- SUBTITLE BEGINING -->
</mj-raw>
<mj-section padding="0 25px 0">
  <mj-column padding="0">
    <mj-text padding-bottom="0px" padding-top="0px" font-weight="600" font-size="16px">
      {{ 'Order ID {order_name}'|trans({}, 'Emails.Body', locale) }} - {{ 'Order changed'|trans({}, 'Emails.Body', locale)|raw }}
    </mj-text>
  </mj-column>
</mj-section>
<mj-raw>
  <!-- SUBTITLE ENDING -->
</mj-raw>

<mj-raw>
  <!-- BOX BEGINING -->
</mj-raw>
<mj-section padding="15px 50px 40px">
  <mj-column background-color="#fefefe" border="1px solid #DFDFDF" padding-top="10px" padding-bottom="10px">
    <mj-text>
      {{ 'Your order with the reference [1]{order_name}[/1] from [1]{shop_name}[/1] has been changed by the merchant.'|trans({'[1]': '<span class="label">', '[/1]': '</span>'}, 'Emails.Body', locale)|raw }}
    </mj-text>
    <mj-text padding-top="0px">
      {{ 'Go to your customer account to learn more about it.'|trans({}, 'Emails.Body', locale)|raw }}
    </mj-text>
  </mj-column>
</mj-section>
<mj-raw>
  <!-- BOX ENDING -->
</mj-raw>

<mj-raw>
  <!-- FIRST TEXT BEGINING -->
</mj-raw>
<mj-section padding="0 25px 20px">
  <mj-column>
    <mj-text>
      {{ 'If you have a guest account, you can follow your order via the <a href="{guest_tracking_url}" target="_blank">%guest_tracking_label%</a> section on our shop.'|trans({'%guest_tracking_label%': 'Guest Tracking'|trans({}, 'Shop.Theme.Customeraccount', locale)}, 'Emails.Body', locale)|raw }}
    </mj-text>
  </mj-column>
</mj-section>
<mj-raw>
  <!-- FIRST TEXT ENDING -->
</mj-raw>
{% endblock %}
