{% extends '@MjmlMailThemes/modern_mjml/components/layout.mjml.twig' %}

{% block title %}{{ 'Refferalprogram Congratulations'|trans({}, 'Emails.Body', locale) }}{% endblock %}

{% block content %}
<mj-section padding="0 25px">
  <mj-column padding="0">

    <mj-raw>
      <!-- TITLE BEGINING -->
    </mj-raw>
    <mj-text padding-top="0" padding-bottom="20px" font-weight="600" font-size="20px">
      {{ 'Congratulations!'|trans({}, 'Emails.Body', locale)|raw }}
    </mj-text>
    <mj-raw>
      <!-- TITLE ENDING -->
    </mj-raw>

  </mj-column>
</mj-section>

<mj-raw>
  <!-- BORDER BEGINING -->
</mj-raw>
<mj-section text-align="left" padding="0 50px 40px">
  <mj-column width="25px">
    <mj-divider width="25px" css-class="left" padding-top="0" padding-left="0" padding-right="0" border-width="3px" border-color="#505050"  border-style="solid"></mj-divider>

  </mj-column>
</mj-section>
<mj-raw>
  <!-- BORDER ENDING -->
</mj-raw>

<mj-raw>
  <!-- BOX BEGINING -->
</mj-raw>
<mj-section padding="15px 50px 40px">
  <mj-column background-color="#fefefe" border="1px solid #DFDFDF" padding="20px 0">
    <mj-text>
      {{ 'Your referred friend <span class="label">{sponsored_firstname}</span> <span class="label">{sponsored_lastname}</span> has placed his/her first order on <a href="{shop_url}">{shop_name}</a>!'|trans({}, 'Emails.Body', locale)|raw }}
    </mj-text>
    <mj-text padding-top="0px">
      {{ 'We are pleased to offer you a voucher worth <span class="label">{discount_display}</span> (VOUCHER # <span class="label">{discount_name}</span> that you can use on your next order.'|trans({}, 'Emails.Body', locale)|raw }}
    </mj-text>
  </mj-column>
</mj-section>
<mj-raw>
  <!-- BOX ENDING -->
</mj-raw>

<mj-raw>
  <!-- FIRST TEXT BEGINING -->
</mj-raw>
<mj-section padding="0 25px 20px">
  <mj-column>
    <mj-text>
      {{ 'Best regards,'|trans({}, 'Emails.Body', locale)|raw }}
    </mj-text>
  </mj-column>
</mj-section>
<mj-raw>
  <!-- FIRST TEXT ENDING -->
</mj-raw>
{% endblock %}
