{% extends '@MjmlMailThemes/modern_mjml/components/layout.mjml.twig' %}

{% block title %}{{ 'Voucher'|trans({}, 'Emails.Body', locale) }}{% endblock %}

{% block content %}
<mj-section padding="0 25px">
  <mj-column padding="0">
    <mj-raw>
      <!-- TITLE BEGINING -->
    </mj-raw>
    <mj-text padding-top="0" padding-bottom="20px" font-weight="600" font-size="20px">
      {{ 'Hi {firstname} {lastname},'|trans({}, 'Emails.Body', locale) }}
    </mj-text>
    <mj-raw>
      <!-- TITLE ENDING -->
    </mj-raw>

    <mj-raw>
      <!-- BORDER BEGINING -->
    </mj-raw>
  </mj-column>
</mj-section>

<mj-section text-align="left" padding="0 50px 40px">
  <mj-column width="25px">
    <mj-divider width="25px" css-class="left" padding-top="0" padding-left="0" padding-right="0" border-width="3px" border-color="#505050" border-style="solid"></mj-divider>

  </mj-column>
</mj-section>
<mj-raw>
  <!-- BORDER ENDING -->
</mj-raw>

<mj-raw>
  <!-- SUBTITLE BEGINING -->
</mj-raw>
<mj-section padding="0 25px">
  <mj-column padding="0">
    <mj-text padding-bottom="0px" padding-top="0px" font-size="16px" font-weight="600">
      {{ 'Order ID {order_name}'|trans({}, 'Emails.Body', locale) }} - {{ 'Voucher code generated'|trans({}, 'Emails.Body', locale)|raw }}
    </mj-text>
  </mj-column>
</mj-section>
<mj-raw>
  <!-- SUBTITLE ENDING -->
</mj-raw>


<mj-raw>
  <!-- BOX BEGINING -->
</mj-raw>
<mj-section padding="15px 50px 40px">
  <mj-column background-color="#fefefe" border="1px solid #DFDFDF" padding-top="10px" padding-bottom="10px">
    <mj-text>
      {{ 'We are pleased to inform you that a voucher has been generated in your name for order with the reference <span class="label">{order_name}</span>.'|trans({}, 'Emails.Body', locale)|raw }}
    </mj-text>
    <mj-text padding-top="0px">
      {{ '<span class="label">VOUCHER CODE: {voucher_num}</span> in the amount of <span class="label">{voucher_amount}</span>'|trans({}, 'Emails.Body', locale)|raw }}
    </mj-text>
    <mj-text padding-top="0px">
      {{ 'In order to use it, just copy/paste this code during check out.'|trans({}, 'Emails.Body', locale)|raw }}
    </mj-text>
  </mj-column>
</mj-section>
<mj-raw>
  <!-- BOX ENDING -->
</mj-raw>
{% endblock %}
