{% extends '@MjmlMailThemes/modern_mjml/components/layout.mjml.twig' %}

{% block title %}{{ 'Follow up 4'|trans({}, 'Emails.Body', locale) }}{% endblock %}

{% block content %}
<mj-section padding="0 25px">
    <mj-column padding="0">

        <mj-raw>
            <!-- TITLE BEGINING -->
        </mj-raw>
        <mj-text padding-top="0" padding-bottom="20px" font-weight="600" font-size="20px">
            {{ 'Hi {firstname} {lastname},'|trans({}, 'Emails.Body', locale) }}
        </mj-text>
        <mj-raw>
            <!-- TITLE ENDING -->
        </mj-raw>

    </mj-column>
</mj-section>

<mj-raw>
    <!-- BORDER BEGINING -->
</mj-raw>
<mj-section text-align="left" padding="0 50px 40px">
    <mj-column width="25px">
        <mj-divider css-class="left" padding-top="0" padding-left="0" padding-right="0" border-width="3px" border-color="#505050" width="25px" border-style="solid"></mj-divider>

    </mj-column>
</mj-section>
<mj-raw>
    <!-- BORDER ENDING -->
</mj-raw>

<mj-raw>
    <!-- SUBTITLE BEGINING -->
</mj-raw>
<mj-section padding="0 25px">
    <mj-column padding="0">
        <mj-text padding-bottom="0px" padding-top="0px" font-size="16px" font-weight="600">
            {{ 'Your cart on {shop_name}'|trans({}, 'Emails.Body', locale)|raw }}
        </mj-text>
    </mj-column>
</mj-section>
<mj-raw>
    <!-- SUBTITLE ENDING -->
</mj-raw>


<mj-raw>
    <!-- BOX BEGINING -->
</mj-raw>
<mj-section padding="15px 50px 40px">
    <mj-column background-color="#fefefe" border="1px solid #DFDFDF" padding="20px 0">
        <mj-text>
            {{ 'Congratulations, you are one of our best customers! However, it looks like you have not placed an order since {days_threshold} days.'|trans({}, 'Emails.Body', locale)|raw }}
        </mj-text>
        <mj-text padding-top="0px">
            {{ 'Your cart has been saved, you can resume your order by visiting our store:'|trans({}, 'Emails.Body', locale)|raw }} <a href="{shop_url}" target="_blank">{shop_url}</a>
        </mj-text>
        <mj-text padding-top="0px">
            {{ 'We are pleased to offer you a discount of [1]{amount}%[/1] off your next order. And this offer is valid for [1]{days}[/1] days, so do not wait any longer!'|trans({'[1]': '<span class="label">', '[/1]': '</span>'}, 'Emails.Body', locale)|raw }}
        </mj-text>
    </mj-column>
</mj-section>
<mj-raw>
    <!-- BOX ENDING -->
</mj-raw>


<mj-raw>
    <!-- MESSAGE BOX BEGINING -->
</mj-raw>
<mj-section padding="15px 50px 40px">
    <mj-column background-color="#fefefe" padding-top="10px" padding-bottom="10px" border="1px solid #DFDFDF">
        <mj-text font-size="14px">
            <span style="font-weight:700">{{ 'Here is your VOUCHER CODE:'|trans({}, 'Emails.Body', locale)|raw }}</span> {voucher_num}
        </mj-text>
        <mj-text padding-top="0px">
            {{ 'Enter this code in your shopping cart to get the discount.'|trans({}, 'Emails.Body', locale)|raw }}
        </mj-text>

    </mj-column>
</mj-section>
<mj-raw>
    <!-- MESSAGE BOX ENDING -->
</mj-raw>
{% endblock %}
